@import "tailwindcss";

@theme {
  --color-ink-950: #09090b;
  --color-ink-900: #18181b;
  --color-ink-800: #27272a;
  --color-ink-700: #3f3f46;
  --color-ink-400: #a1a1aa;
  --color-ink-200: #e4e4e7;
}

body {
  @apply bg-ink-950 text-ink-200 antialiased;
}
